{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-3'>
	<h3>आपका विवरण</h3>
	<br>
		<p><font size = 4>
			<font color = 'red'>नाम:</font> {{user.first_name}} {{user.last_name}}<br><br>
			<font color = 'red'>मोबाइल नंबर:</font> {{user.profile.contact}}<br><br>
			<font color = 'red'>पूरा पता:</font> {{user.profile.address}}<br><br>
			<font color = 'red'>कार्य के लिए उपलब्धता की अवधि की शुरुआत तिथि:</font> {{user.profile.start_date}}<br><br>
			<font color = 'red'>कार्य के लिए उपलब्धता की अवधि की समाप्ति तिथि:</font> {{user.profile.end_date}}<br><br>
			<font color = 'red'>कौशल और क्षमताएं:</font> {{user.profile.skills}}<br><br>
		</font>
		</p>
</div>


{% endblock %}